/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("../img/Sala-de-cine.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
}

/* Contenedor principal */
.container {
    width: 100%;
    max-width: 420px;
    background: rgba(15, 15, 15, 0.9);
    border-radius: 16px;
    padding: 30px 35px;
    box-shadow:
        0 0 20px rgba(234, 236, 65, 0.25),
        0 10px 40px rgba(0, 0, 0, 0.8);
    margin-top: 20rem;
}

/* Título */
.container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffcc00;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(255, 59, 59, 0.6);
}

/* Grupos de formulario */
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.95rem;
    color: #e0e0e0;
}

/* Inputs y select */
.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #d1b7206c;
    background: #0f0f0f;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
}

.form-group input[type="number"]{
    width: 35%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #d1b7206c;
    background: #0f0f0f;
    color: #fff;
}

.form-group input::placeholder {
    color: #888;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #7e8015;
}

/* Checkbox */
.form-group input[type="checkbox"] {
    margin-right: 6px;
    accent-color: #ff3b3b;
}

.form-group label:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

/* Botones */
.btn-group {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.btn-primary,
.btn-secondary {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-primary {
    border: none;
    background: #ffcc00;
    color: #000;
    box-shadow: 0 0 12px rgba(221, 209, 38, 0.6);
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 18px rgba(255, 59, 59, 0.9);
}

.btn-secondary {
    background: transparent;
    border: 1px solid #444;
    color: #ddd;
}

.btn-secondary:hover {
    background: rgba(255, 255, 255, 0.05);
    border-color: #ff3b3b;
    color: #ff3b3b;
}
