    /* ======== ESTILOS GENERALES ======== */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("../img/Fondo-web-desenfoque.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2f2f2;
    padding-bottom: 60px; /* espacio para el footer */
}

h1 {
    margin-top: 0 ;
    font-size: 2.5rem;
    text-align: left;
    font-size: 3.8rem;
    background: linear-gradient(to bottom, rgba(0,0,0,5), transparent);
    padding: 3rem 3rem 3rem;
}

h2 {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 2.3rem;
    color: #ffcc00;
}

/* ======== GRID DE PELÍCULAS ======== */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin: 20px auto;
    width: 90%;
}

/* ======== TARJETAS ======== */
.card {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.5);
}

.card h3 {
    margin-top: 0;
    color: #ffcc00;
}

/* ======== BOTONES ======== */
.btn {
    display: inline-block;
    background: #ffcc00;
    padding: 10px 20px;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s;
    margin-left: 70px;

}

.btn:hover {
    background: #e6b800;

}

.btn-delete {
    color: #ff4d4d;
    font-weight: bold;
    text-decoration: none;
}

.btn-delete:hover {
    color: #ff1a1a;
}

/* ======== TABLA CRUD ======== */
table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background: #333;
    color: #ffcc00;
    font-size: 1.1rem;
}

tr:nth-child(even) {
    background: #262626;
}

tr:hover {
    background: #333333;
}

/* Acción links */
table a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    color: #ffd633;
}

/* ======== FOOTER ======== */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 0.3rem 0;
    margin-top: 1rem;
    font-size: 1.2rem;
}
